<section class="coming-s1 container-fluid d-flex minh-100vh align-items-center">
    <div class="row mx-0 w-100">
        <div class="col-12 col-sm-9 col-md-6 col-lg-5 mx-auto">
            <div class="card text-center text-white bg-dark p-3 opacity-8 border-light">
                <h1 class="display-4">
                    Coming soon!
                </h1>
                <p class="lead text-white">
                    We are not ready yet, however we are staring soon. 
                    Please visit us again in a while.
                </p>
            </div>
        </div>
    </div>
</section>