<section class="error-s1 container-fluid d-flex minh-100vh align-items-center">
    <div class="row mx-0 w-100">
        <div class="col-12 col-sm-9 col-md-6 col-lg-5 mx-auto">
            <div class="card border-secondary text-center text-white bg-dark p-3 opacity-8">
                <h1 class="display-4">
                    Error 404
                </h1>
                <p class="lead text-white">
                    Page not found.
                </p>
                <div class="w-100 text-center p-2">
                    <a href="#!/" class="btn btn-outline-light rounded-pill">
                        back to <span class="fw-bold">Home</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>